/* Write your CSS below. */

/* Do not change any CSS below this line. */

:root {
  --background-blue: #4f6ea0;
  --line-blue: #104e6e;
  --old-brass: #cdc369;
  --soft-white: #e6e6c8;
  --dark-shadow: rgb(47, 79, 79);
  --dark-box-shadowing: 4px 4px 8px var(--dark-shadow);
  --light-slate: #a8bace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: var(--background-blue);
  color: var(--soft-white);
}

/* Header Styles */
h1 {
  text-align: left;
}

/* Main Content Styles */
.content {
  text-align: center;
  margin-top: 20px;
}

.content p {
  font-size: 1.2em;
  color: var(--soft-white);
}

/* Profile Description Styles */
.profile-description p {
  color: var(--old-brass);
  font-size: 3em;
  text-shadow: 1px 1px #eeeab4;
}

/* Skills Section Styles */
.skills {
  text-align: center;
}

.skills h2 {
  color: var(--line-blue);
}

.languages,
.libraries {
  width: 48%;
}

.languages h3,
.libraries h3 {
  color: var(--line-blue);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Bug Section Styles */
.bug {
  text-align: left;
  background-color: var(--background-blue);
  border: 1px solid var(--line-blue);
  border-radius: 10px;
  color: var(--soft-white);
  padding: 2em 1em;
  margin: 1em;
  box-shadow: var(--dark-box-shadowing);
}

/* Links Section Styles */
.links {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-blue);
  padding: 20px;
  border-radius: 10px;
  list-style-type: none;
}

.links a {
  color: var(--soft-white);
  text-decoration: none;
}

.links a:hover {
  color: var(--light-slate);
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 20px;
}

/* Form Styles */
form {
  width: 60%;
  margin: auto;
  font-size: 16px;
  background: var(--line-blue);
  padding: 30px 30px 15px 30px;
  border: 5px solid var(--dark-box-shadowing);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0.7;
}

form input[type="submit"],
form input[type="button"],
form input[type="text"],
form input[type="email"],
form textarea,
form label {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--soft-white);
}

form label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form input[type="submit"] {
  background: var(--dark-shadow);
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  color: #a8bace;
}

form input[type="submit"]:hover {
  background: #394d61;
}
